html, body, #root, .app {
  height: 100%;
} 

.app {

  display: flex;
  justify-content: center; 

  .container-pulsometer {
    width: 1200px;
    height: 100%;
    border: solid 1px blue;
    align-items: center;
    justify-content: center;

    .pulsometer { 
    border: solid white 1px;
    position: absolute;
    width: 1200px; 
    height: 450px;
    bottom: 0;

    .header {
      text-align: center;
      padding-top: 1rem;
      font-size: 1.5rem;

    } 

    svg.lightning-bolt {
      width: 400px;
      height: 400px;
      position: absolute;
      top: -43px;
      left: -30px;
      
      
      path {
        fill: orange;
        stroke: none;
      }
    }
      .antenna {
        width: 1px;
        height: 6rem;
        position: absolute;
        bottom: 11rem;
        background-color: #FFF;
        margin-left: 49%;
        top: -6rem; 
      }

      .bulb {
        position: absolute;
        top: 0;
        height: 10px;
        width: 10px;
        margin-left: -5px;
        margin-top: -5px;
        border-radius: 50%;
        background-color: #FFF;

      }

      .beam {
        position: absolute;
        top: -12rem;
        margin-left: 36.5%; 

        path {
          stroke:#FCCA03; 
          animation: hideshow 5s ease infinite;

          @keyframes hideshow {
            from { stroke-width:.5; }
            to { stroke-width:.1; }
          }

        }
      }
      
      .dot {
          position: absolute;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          border: solid 1px #FFF;
          margin-bottom: 1rem;
          display: flex; 
          
          
          &.on {
            background-color: #FFF;
          }

          &.off {
            background-color: transparent;
          }

      }

    }

  } 

    

    .dots {

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .dot {

          height: 25px;
          width: 25px;
          border-radius: 50%;
          border: solid 1px #FFF;
          margin-bottom: 1rem;
          display: flex; 


          &.on {
            background-color: #FFF;
          }

          &.off {
            background-color: transparent;
          }

    }

  } 


} 

