.dots {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .dot {

        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: solid 1px #FFF;
        margin-bottom: 1rem;
        display: flex; 


        &.on {
          background-color: #FFF;
        }

        &.off {
          background-color: transparent;
        }

    }

}

.pulsedot {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  //align-items: center;
  justify-content: center;
  .dot {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: solid 1px #FFF;
        margin-bottom: 1rem;
        display: flex; 
        
        
        &.on {
          background-color: #FFF;
        }

        &.off {
          background-color: transparent;
        }

  }
}

